<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSecure</title>
</head>

<body>
    {{>navbar}}
<div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/photo.jpg" class="d-block w-100" alt="not showing">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Welcome to iSecure Login System</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>